.venv/
foto/

# runtime watchdog
runtime/
*.pyc
__pycache__/

# memoria runtime del world model
behaviors/event_system/world_model_memory.json

# comportamenti generati runtime
NAOTirocinio/behaviors/generated/*
!NAOTirocinio/behaviors/generated/__init__.py

behaviors/generated/*
!behaviors/generated/.gitkeep

# generated_conditions RESTANO SU GIT
!behaviors/condition_system/generated_conditions/
!behaviors/condition_system/generated_conditions/**

# quarantena / rifiutate NON su Git
behaviors/condition_system/rejected_conditions/*
behaviors/condition_system/quarantine_conditions/*

!behaviors/condition_system/rejected_conditions/.gitkeep
!behaviors/condition_system/quarantine_conditions/.gitkeep

# metadata runtime NON su Git
behaviors/condition_system/rejected_metadata/*
behaviors/condition_system/quarantine_metadata/*

!behaviors/condition_system/rejected_metadata/.gitkeep
!behaviors/condition_system/quarantine_metadata/.gitkeep
